@charset "UTF-8";
/*
    Paleta de cores
    verde: #49a09d
    lilás:#5f2c82

*/

/*Todas a vesões de mídas*/
/*Typical Device Breakpoints
--------------------------------
Pequenas telas: até 600px;
Celulares: de 600px até 768px;
Tablet:768 até 922px;
Desktop:922px até 1200px.
---------------------------------
Grande